/*
 * Style-Sheet für die Webseiten
 * =============================
 * by Christian Leeser (camber.leaflet_0z@icloud.com)
 * Version 0.1 (Stand: 16.10.2021)
 * 
 * Lizenz
 * ++++++++++++++++++++++++++++
 * Creative-Commons CC BY-SA 4.0 by Christian Leeser (16.10.2021)
 * https://creativecommons.org/licenses/by-sa/4.0/
*/

/*
 * Für die Darstellung der Elemente
 * #######################################
*/
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

h1 {
    border: #000 solid 1px;
    background-color: #9d26c5;
    padding: 10px;
    margin: 20px;
    font-family: Arial, sans-serif;
    color: #000;
    font-size: 2em;
    text-align: center;
}
h2 {
    border: #000 solid 1px;
    border-radius: 25px;
    background-color: #c5265b;
    padding: 10px;
    margin: 20px;
    font-family: Arial, sans-serif;
    color: #000;
    font-size: 1.5em;
    text-align: left;
}
h3 {
    border: #000 solid 1px;
    border-radius: 10px;
    background-color: #26c590;
    padding: 10px;
    margin: 20px;
    font-family: Arial, sans-serif;
    color: #000;
    font-size: 1.2em;
    text-align: left;
}
h4 {
    border: #000 solid 1px;
    background-color: #bec55c;
    padding: 10px;
    margin: 20px;
    font-family: Arial, sans-serif;
    color: #000;
    font-size: 1.0em;
    text-align: left;
}
#getResultOfChallenge {
    padding-top: 1%;
    padding-bottom: 1%;
}

#firstValueFromUser {
    font-size: 14px;
    padding-top: 1%;
    padding-inline-start: 1%;
    padding-bottom: 1%;
    border-radius: 25px;
    margin-top: 1%;
}

#firstNumber {
    font-size: 14px;
    padding: 10px;
    padding-inline-start: 1%;
    border-radius: 25px;
    margin: 20px;
}

#secondNumber {
    font-size: 14px;
    padding-top: 1%;
    padding-inline-start: 1%;
    padding-bottom: 1%;
    border-radius: 25px;
    margin-top: 1%;
}   

#valueForCalc {
    font-size: 14px;
    padding-top: 1%;
    padding-inline-start: 1%;
    padding-bottom: 1%;
    border-radius: 25px;
    margin-top: 1%;
}

#showChallenge {
    margin: 20px;
    padding-inline-start: 1%;
    background-color: #c85629;
    border-radius: 25px;
    padding: 10px;
}

#showCallbackOfChallenge {
    margin: 20px;
    padding-inline-start: 1%;
    background-color: #c85629;
    border-radius: 25px;
    padding: 10px;
}

/*
 * Für die Buttons
 * -------------------------------------
*/

#sozStartButton {
    font-size: 14px;
    background-color: #c29a2b;
    border-radius: 25px;
    visibility: visible;
    float: left;
    width: 30%;
    margin-top: 1em;
    padding-top: 1%;
    padding-bottom: 1%;
    cursor: pointer;
    outline: none;
    border: none;
}

#sozReloadButton {
    font-size: 14px;
    background-color: #2bc265;
    border-radius: 25px;
    float: right;
    width: 30%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 1em;
    cursor: pointer;
    outline: none;
    border: none;
}

.projektarea {
    border-radius: 25px;    
    margin: 20px;
    padding: 10px;
    background-color: #5d6661;
    color: azure;
}

.content {
    display: inline-block;
    margin: 20px;
    padding: 10px;
    border: #032140 solid 1px;
    background-color: #3c7b96;
    border-radius: 5px;
    font-size: 16px;
    text-align: justify;
    color: #f3eeee;
}
.content p a{
    margin: 0;
    padding: 5px;
    color: #f3eeee;
}

.criteria, .teaser, .lernziele, .definition,.links, .zusammenfassung,.ende,.projekt,.loesungshinweis,.module {
    border: #000 dotted 1px;
    background-color: #f0f0f0;
    padding: 10px;
    margin: 20px;
    font-family: Arial, sans-serif;
    color: #000;
    font-size: 1.2em;
    text-align: left;
}

.code-container {
    border-radius: 25px;
    border: #000 solid 1px;
    background-color: darkslateblue;
    padding: 10px;
    margin: 10px;
}

.code-container .toggle-button {
    cursor: pointer;
    font-family: Arial, sans-serif;
    color: rgb(255, 255, 255);
}